.DS_Store
logs
*.log
npm-debug.log*
node_modules/
jspm_packages/
typings/
.eslintcache
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*
.pnp.*
lib*/
test-results/
Sources.tar*
Sources.zip
docs/.vitepress/dist
docs/.vitepress/cache
docs/types