name: ci

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Reason'
        required: false
        default: ''

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js v16.x
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
          cache: 'npm'
      - run: yarn install --immutable
      - run: yarn build
      - run: yarn build:es3
      - run: yarn build:es6
      - run: yarn test
